Repository tfkhdyt/gan-an-wo: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-format, backend-lines, frontend-format

backend-lint:
  run: golangci-lint run

backend-format:
  run: gofumpt -w .

backend-lines:
  run: golines -m 80 -w .

frontend-format:
  run: pnpm biome check --apply-unsafe {staged_files}

fix(touch): use pointerdown and pointerup event instead
  web/src/app/page.tsx
Due: frontend-format

fix(touch): prevent multi touch
  web/src/app/page.tsx
Due: frontend-format

feat: change favicon
  web/src/app/favicon.ico
Due: none

feat(metadata): add description
  web/src/app/layout.tsx
Due: frontend-format

fix(web): adjust modal behavior in Home component
  web/src/app/page.tsx
Due: frontend-format

style(web): improve focus styling in MobileLeaderboard component
  web/src/components/mobile-leaderboard.tsx
Due: frontend-format

feat(web): update formatting and imports in page.tsx
  web/src/app/page.tsx
  web/src/components/leaderboard.tsx
  web/src/components/mobile-leaderboard.tsx
  web/src/lib/utils.ts
Due: frontend-format

style(web): optimize imports in page.tsx and mobile-leaderboard.tsx
  web/src/app/page.tsx
  web/src/components/mobile-leaderboard.tsx
Due: frontend-format

fix(web): adjust positioning of leaderboard in Home page component
  web/src/app/page.tsx
Due: frontend-format

feat(web): update button styling and layout in Home page component
  web/src/app/page.tsx
Due: frontend-format

fix(web/leaderboard): adjust minimum width of Leaderboard card
  web/src/components/leaderboard.tsx
Due: frontend-format

feat(web/leaderboard/mobile): update mobile leaderboard layout and number formatting
  web/src/components/mobile-leaderboard.tsx
  web/src/lib/utils.ts
Due: frontend-format

feat(web/leaderboard): enhance Leaderboard component to highlight selected paslon
  web/src/app/page.tsx
  web/src/components/leaderboard.tsx
Due: frontend-format

fix(web): add new audio files and update audio playback
  web/public/sfx/anies.wav
  web/public/sfx/ganjar.wav
  web/public/sfx/prabowo.wav
  web/src/app/page.tsx
Due: frontend-format

feat(web/font): add Open Sauce Sans font and update font usage in project
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/globals.css
  web/src/app/layout.tsx
Due: frontend-format

fix(web/ws): configure WebSocket auto-reconnection
  web/src/app/page.tsx
Due: frontend-format

feat(api): implement payload decryption in score_usecase
  api/go.mod
  api/go.sum
  api/internal/controller/score_controller.go
  api/internal/helper/crypto_helper.go
  api/internal/usecase/score_usecase.go
Due: backend-lint, backend-format, backend-lines

feat(web): implement secure payload encryption for score submission
  web/.env.example
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/page.tsx
Due: frontend-format

chore(api): update .env.example and add API_SECRET_KEY
  api/.env.example
  api/go.mod
  api/internal/usecase/score_usecase.go
Due: backend-lint, backend-format, backend-lines

style(web): remove redundant import in page.tsx
  web/src/app/page.tsx
Due: frontend-format

ci(web): add API_SECRET_KEY to env
  .github/workflows/frontend.yaml
  web/Dockerfile
Due: none

build(Dockerfile): remove extra curly brace
  web/Dockerfile
Due: none

fix(web/audio): use 'useSound' to play audio
  web/package.json
  web/pnpm-lock.yaml
  web/public/sfx/anies.mp3
  web/public/sfx/anies.wav
  web/public/sfx/ganjar.wav
  web/public/sfx/prabowo.wav
  web/src/app/page.tsx
  web/src/types/use-sound/index.d.ts
  web/src/types/use-sound/types.d.ts
  web/tsconfig.json
Due: frontend-format

feat(layout.tsx): wrap children with Provider
  web/src/app/layout.tsx
Due: frontend-format

fix(web/leaderboard): close mobile leaderboard after changing paslon
  web/src/app/layout.tsx
  web/src/app/page.tsx
Due: frontend-format

feat: add character image
  compose.yaml
  web/public/img/character/anies-00.png
  web/public/img/character/anies-00.webp
  web/public/img/character/anies-01.png
  web/public/img/character/anies-01.webp
  web/public/img/character/ganjar-00.png
  web/public/img/character/ganjar-00.webp
  web/public/img/character/ganjar-01.png
  web/public/img/character/ganjar-01.webp
  web/public/img/character/prabowo-00.png
  web/public/img/character/prabowo-00.webp
  web/public/img/character/prabowo-01.png
  web/public/img/character/prabowo-01.webp
  web/src/app/page.tsx
  web/src/components/mobile-leaderboard.tsx
Due: frontend-format

style: format
  web/src/app/page.tsx
  web/src/components/mobile-leaderboard.tsx
Due: frontend-format

refactor: Add conditional rendering for candidate images
  web/src/app/page.tsx
Due: frontend-format

build(docker): optimize docker image
  web/Dockerfile
  web/next.config.mjs
Due: none

build(docker/web): update Dockerfile
  web/Dockerfile
Due: none

build(deps): install sharp
  web/package.json
  web/pnpm-lock.yaml
Due: none

fix(web): remove unneeded margin bottom on character images
  web/src/app/page.tsx
Due: frontend-format

build: update deps
  api/go.mod
  api/go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: none

fix(web): change svh to dvh
  web/src/app/page.tsx
Due: frontend-format

build(go): update to go 1.22
  api/Dockerfile
  api/go.mod
  api/go.sum
Due: none

feat: add token to avoid using the token more than once
  api/cmd/api/main.go
  api/go.mod
  api/go.sum
  api/internal/model/token_model.go
  api/internal/repository/mongodb/token_repo_mongo.go
  api/internal/repository/token_repo.go
  api/internal/route/score_route.go
  api/internal/usecase/score_usecase.go
Due: backend-lint, backend-format, backend-lines

style: format
  api/internal/model/token_model.go
  api/internal/usecase/score_usecase.go
Due: backend-lint, backend-format, backend-lines

fix: upgrade lucide-react from 0.316.0 to 0.319.0
  web/package.json
Due: none

fix: upgrade lucide-react from 0.319.0 to 0.321.0
  web/package.json
Due: none

fix: upgrade next from 14.1.0 to 14.1.1
  web/package.json
Due: none

Path conditions:
  backend-lint: any of: **/*.go and ^api/
  backend-format: any of: **/*.go and ^api/
  backend-lines: any of: **/*.go and ^api/
  frontend-format: any of: **/*.{js,ts,jsx,tsx} and ^web/
